<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" href="/discord.css"> <!-- 절대 경로로 설정 -->
</head>
<body>
<div class="main-container">
  <!-- 비밀번호 찾기 폼 -->
  <div class="chat-container">
    <h1>비밀번호 찾기</h1>
    <form th:action="@{/forgot-password}" method="post" class="container">
      <label for="email">이메일:</label>
      <input type="email" id="email" name="email" required><br>

      <button type="submit">비밀번호 재설정 링크 받기</button>
    </form>
    <a href="/login" class="back-btn">로그인 페이지로 돌아가기</a>
  </div>
</div>
</body>
</html>